Librería/Catalogo.dtd

<!ELEMENT catalogo (libro+)>
<!ELEMENT libro (titulo, autor, genero, editorial, fecha, ISBN, nPaginas, descripcion)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (nombre, apellidos)>
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT apellidos (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT ISBN (#PCDATA)>
<!ELEMENT nPaginas (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>