Prácticas CFGS/practicas.dtd

<!ELEMENT practicas (alumno+)>
<!ELEMENT alumno (nif, resultado, observaciones*, (ip | mac))>
<!ELEMENT nif (#PCDATA)>
<!ELEMENT resultado (#PCDATA)>
<!ELEMENT observaciones ANY>
    <!ELEMENT anhos (#PCDATA)>
    <!ELEMENT poblacion (#PCDATA)>
<!ELEMENT ip (#PCDATA)>
<!ELEMENT mac (#PCDATA)>