Concesionario/Lista.dtd

<!ELEMENT lista (turismo+)>
<!ELEMENT turismo (codCoche, marca, modelo, matricula, potencia, plazas, nPuertas)>
<!ELEMENT codCoche (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT nPuertas (#PCDATA)>